<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사업자 유효성 검증</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="login-box">
      <h2>사업자 유효성 검증</h2>
      <form>
        <div class="user-box">
          <input type="text" name="" required="" />
          <label>대표자 성명</label>
        </div>
        <div class="user-box">
          <input type="password" name="" required="" />
          <label>사업자 등록 번호( '-' 없이 숫자만)</label>
        </div>
        <div class="user-box">
          <input type="text" name="" required="" />
          <label>개업일자(예 20240101)</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Submit
        </a>
      </form>
    </div>
  </body>
</html>
